@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.songs,
.demos,
.track,
.demo,
.tracks,
.addASongButton,
.saveSong__button,
.logOutBtn,
.editDemo__button,
.deleteDemo__button,
.addATrack__button,
.deleteTrack__button,
.addATrack__button,
.signIn__button,
.form-group,
textarea,
input {
    color:  black;
    font-family: "Playfair Display"
}

body {
    background-color: #2DC5F5;
}

a:link,
a:visited {
    color: navy;
    text-decoration: none;
}

a:hover {
   color: rgb(201, 53, 8); 
}
